<div class="container container-view" style="position:absolute;z-index:200">
    <div class="row">
        <div class="col-md-14">
            <div class="row">
                <div class="col-md-4" style="background-color: white">
                    <h3>Selected Tables</h3>
                    <form name="anchorsForm" novalidate class="form-horizontal" ng-submit="$ctrl.submitForm(source)">

                        Pick a topic:
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <ul>
                                        <li><label><input type="radio" ng-model="$ctrl.anchoroot.type" value="anchor"> Anchor Tables</label></li>
                                        <li><label><input type="radio" ng-model="$ctrl.anchoroot.type" value="include"> Include Tables</label></li>
                                        <li><label><input type="radio" ng-model="$ctrl.anchoroot.type" value="exclude"> Exclude Tables</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label for="anchorname">Anchor Name</label>
                            <div id="username-error" class="popover" ng-messages="anchorsForm.anchorname.$error">
                                <span ng-message="required">Anchor name is required.</span>
                            </div>
                            <input type="text" id="anchorname" name="anchorname" ng-model="$ctrl.anchor.name" class="form-control" placeholder="Please enter Anchor name" ng-required="true" required/>
                        </div>
-->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
<!--
                                <button ng-if="$ctrl.anchor.type == 'anchor' && $ctrl.checkTables('include')" ng-disabled="!anchorsForm.$valid" type="button" class="btn btn-primary">Add Include Tables</button>
                                <button ng-if="$ctrl.anchor.type == 'include'" ng-disabled="!anchorsForm.$valid" type="button" class="btn btn-primary">Add Exclude Tables</button>
-->
                                <button ng-disabled="!anchorsForm.$valid" type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" ng-click="$ctrl.resetAnchorsForm()" class="btn btn-primary">Reset</button>
                            </div>
                        </div>

                        <pre>Type = {{$ctrl.anchoroot.type | json}}</pre>
<!--                        <pre>Anchors = {{$ctrl.anchors | json}}</pre>
                        <pre>Anchor = {{$ctrl.anchor | json}}</pre>
-->
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="erDiagram" class="top" style="position:absolute;z-index:100"></div>
