<div class="container container-view">
    <div class="row">
        <div class="col-md-14">
            <div class="row">
                <div class="col-md-4">
            <h2>Reverse Engineering</h2>
            <form class="form-horizontal" ng-submit="$ctrl.submitForm()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="anchor">Anchors:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="anchor" placeholder="Enter list of Anchor tables" name="anchor">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tbl_incl">Include Tables:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="tbl_incl" placeholder="Enter list of tables to include" name="tbl_incl">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tbl_excl">Exclude Tables:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="tbl_excl" placeholder="Enter list of tables to exclude" name="tbl_excl">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="auto">Single Step Denormalization</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="source">Source Schema:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="source">
                            <option>mysql_northwind</option>
                            <option>mysql_daf</option>
                            <option>oracle_dmc</option>
                            <option>teradata_icdw</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="target">Target Schema:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="target">
                            <option>Flatten</option>
                            <option>Star Schema</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!--    <button type="submit" class="btn btn-primary">Submit</button> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-primary">Close</button>
                    </div>
                </div>
            </form>

                </div>
            </div>
        </div>
    </div>
</div>